.cardpage{
    height: 600px;
    width: 1350px;
    display: flex;
}
.input-button-add{
    display: flex;
    flex-direction: row;
    height: 300px;
    width: 1000px;
    justify-content: center;
    align-items: center;

}
.input-add{
    display: flex;
    flex-direction: row;
    height: 30px;
    width: 200px;
    align-items: center;
    justify-content: center;

}
.button-add{
    display: flex;
    flex-direction: row;
    height: 30px;
    width: 100px;
    align-items: center;justify-content: center;
}
.button-inc-add{
    display: flex;
    height: 20px;
    width: 20px;
}
.button-dic-add{
    display: flex;
    height: 20px;
    width: 20px;
}